################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SignalRLabs/.vs/SignalRLabs/v15
