################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TranslatorClient/obj
/TranslatorClient/bin/Debug
/TranslationServer/obj
/TranslationServer/bin/Debug
/TranslationInterface/obj/Debug
/TranslationInterface/bin/Debug
